@font-face {
    src: url("../fonts/dark/Poppins-Bold.ttf");
}

@font-face {
    src: url("../fonts/dark/Fahkwang-Bold.ttf");
}

/* Background */
#root {
    -fx-background-image: url("/img/backgrounds/darkbg.jpg");
}

/* Primary Font */
.winnerLabel, .winnerTeamLabel, .gameOverLabel, .splashScoreLabel {
    -fx-font-family: "Fahkwang Bold";
}

/* Secondary Font */
.middleText, .gameStr, .teamNameLabel, .pressStartLabel, .countdownLabel, .scoreText  {
    -fx-font-family: "Poppins";
}

.smallerLabel {
    -fx-font-size: 20px;
}

/* Separator */
.separator {
    -fx-max-width: 10px;
    -fx-padding: 10px;
    -fx-border-color: white;
    -fx-background-color: white;
}

/* InfoBox */
.infoBox {
    -fx-border-color: #FFFFFF;
}

.middleText {
    -fx-text-fill: #00FFFF;
}

.scoreText {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

/* Press Start + Countdown Labels */
.pressStartLabel, .countdownLabel, .gameStr {
    -fx-text-fill: #AFF29D;
}