.teamBox{
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-padding: 20;
}
.team1NameLabel, .team2NameLabel {
    -fx-font-family: "Cooper Black";
    -fx-text-fill: #0800ad;
    -fx-font-size: 60px;
}

.team2NameLabel {
    -fx-text-fill: #a05500;
}

.scoreLabel {
    -fx-font-weight: bold;
}

.scoreBox {
    -fx-alignment: center;
}

.team2SelectionLabel {
    -fx-text-fill: #a05500;
}


.separator {
    -fx-pref-width: 10px;
    -fx-border-color: black;
    -fx-background-color: black;
}

.scoreField {
    -fx-max-width: 150;
    -fx-max-height: 60;
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: green;
    -fx-border-width: 3px;
    -fx-border-style: dashed;
    -fx-border-radius: 25px;
    -fx-font-size: 56px;
    -fx-font-family: "Cooper Black";
    -fx-alignment: center;
    -fx-display-caret: false;
}