#root {
    -fx-background-image: url("/img/background.jpg");
    -fx-background-size: cover;
}

/* Game Selection Page / Winner Page */
.mainView {
    -fx-alignment: center;
}

.mainTitle, .winnerLabel {
    -fx-font-family: "Harlow Solid Italic";
    -fx-font-size: 85px;
    -fx-text-wrap: true;
}

.winnerLabel {
    -fx-padding: 40px;
}

.version {
    -fx-font-family: "Harlow Solid Italic";
    -fx-font-size: 36px;
}

.titleBox {
    -fx-alignment: center;
}

.pressStartLabel, .countdownLabel {
    -fx-font-family: "Cooper Black";
    -fx-font-size: 32px;
    -fx-alignment: center;
    -fx-text-fill: #006400;
}

.gameBox {
    -fx-spacing: 25px;
    -fx-alignment: center;
}

.winnerMessage {
    -fx-spacing: 100px;
    -fx-alignment: center;
}

/* Team Selection Page */
.selectBoxes, .teamSelectView, .gameSelectionLabel, .team1SelectionLabel, .team2SelectionLabel, .teamBox, .winnerView {
    -fx-alignment: center;
}

.teamSelectView {
    -fx-spacing: 150px;
}

.gameSelectionLabel, .team1SelectionLabel, .team2SelectionLabel {
    -fx-font-family: "Cooper Black";
    -fx-font-size: 48px;
    -fx-text-fill: #0800ad
}

.teamBox {
    -fx-spacing: 10;

}


ComboBox {
    -fx-pref-width: 400;
    -fx-pref-height: 60;
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: green;
    -fx-border-width: 3px;
    -fx-border-style: dashed;
    -fx-border-radius: 25px;
    -fx-font-size: 24px;
    -fx-font-family: "Cooper Black";
}

/* Game Format Page */
.directionLabel {
    -fx-font-family: "Cooper Black";
    -fx-font-size: 12px;
    -fx-alignment: center;
    -fx-text-fill: #000;
}

.gameScoreBox {
    -fx-spacing: 25;
    -fx-alignment: center;
}

/* Game Winner Splash Screen */

.splashScoreLabel {
    -fx-font-family: "Harlow Solid Italic";
    -fx-font-size: 200px;
    -fx-font-weight: bolder;
}

.nextGameBox {
    -fx-spacing: 10px;
    -fx-alignment: baseline-center;
}

.nextGameLabel {
    -fx-font-family: "Cooper Black";
    -fx-font-size: 32px;
    -fx-alignment: center;
    -fx-text-fill: #000;
}

.countdownLabel {
    -fx-font-size: 82px;
}

.matchView {
    -fx-padding: 40, 10, 10, 10;
}

